{% extends 'common/base.html' %}

{% load static %}

{% block content %}
<form class="form"
      method="POST"
      enctype="multipart/form-data" novalidate>
    <input type="hidden" name="return_url" value="{{ request.GET.next }}">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    {% endfor %}

    <button type="submit">Добави цитат</button>

    <button type="button" class="call_to_action" >

        <a href="{% url 'add_author' %}"> Добави нов автор </a>

    </button>

</form>
{% endblock %}