{% extends 'common/base.html' %}
{% load my_filter %}
{% load static %}

<!--generate button for quote-->
{% block content %}


<div id="container">


{#<h3> Днешният цитат от звездите </h3>#}
<div class="big">

    <div class="quote-details-balloon">
        <p class="simple"> <b>Автор: </b> {{  the_quote_object.author }}</p>
        <p class="simple"> <b>Стихия: </b>{{  the_quote_object.element }}</p>
        <p class="simple"> <b>Зодиакален знак: </b> {{  the_quote_object.sign }}</p>
        <p class="simple"> <b>Номер на цитата: </b> {{  the_quote_object.pk }}</p>
    </div>

    <div>
        {% if the_quote_object.image %}
            <img class="img-balloon" src="{{ the_quote_object.image.url }}" alt="NOT SHOWING"/>
        {% elif the_quote_object.element == 'огън' %}
            <img class="img-balloon" src="{% static 'img/fire-hor.jpg' %}" alt="NOT SHOWING"/>
        {% elif the_quote_object.element == 'земя' %}
            <img class="img-balloon" src="{% static 'img/earth-hor.jpg' %}" alt="NOT SHOWING"/>
        {% elif the_quote_object.element == 'въздух' %}
            <img class="img-balloon" src="{% static 'img/wind-hor.jpg' %}" alt="NOT SHOWING"/>
        {% elif the_quote_object.element == 'вода' %}
            <img class="img-balloon" src="{% static 'img/water-hor.jpg' %}" alt="NOT SHOWING"/>
        {% endif %}
        <div>
            <a href="{% url 'like_quote' the_quote_object.id %}" >
                <p class="simple"> <span style="color: black">Харесай</span> </p>
                {% if is_liked_by_user %}
                    <img class="img-star-like-full" src="{% static 'img/stars/star-full.png' %}" alt="NOT SHOWING">
                {% else %}
                    <img class="img-star-like-empty" src="{% static 'img/stars/star-empty.png' %}" alt="NOT SHOWING">
                {% endif %}
            </a>
            <p class="simple"><b>Брой звездички: </b> {{ count_all_likes }}</p>

        </div>

    </div>

<p class="balloon"> {{ the_quote_object.quote|quotation_marks }} </p>

    <div class="quote_detail_buttons">

        <a class="button details" href="{% url 'quote_details' prev_quote.pk %}">Предишен</a>
        {% if is_added_by_the_user or request.user.is_superuser or request.user.is_staff %}
            <a class="button edit" href="{% url 'edit_quote' the_quote_object.pk %}">Редактирай</a>
            <a class="button delete" href="{% url 'delete_quote' the_quote_object.pk %}">Изтрий</a>
        {% endif %}
        <a class="button details" href="{% url 'quote_details' next_quote.pk %}">Следващ</a>




    </div>


</div>

</div>


{% endblock %}
<!--end generate button-->
