{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load my_group_filter %}


{% block content %}
<form class="form"
      method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.date_of_birth.label }}
    {{ form.date_of_birth }}

    {{ form.first_name.label }}
    {{ form.first_name }}

    {{ form.last_name.label }}
    {{ form.last_name }}


    {% if user.is_staff or user.is_superuser %}
        {{ form.theme_profile.label }}
        {{ form.theme_profile }}
    {% elif request.user|has_group:"Special user" %}
        {{ form.theme_profile.label }}
        {{ form.theme_profile }}
    {% else %}
        <p class="simple">Специална функция</p>
        <p class="simple-left-red">
            <b>Прибавете 3 цитата към базата данни и ще получите
               специалната функция да променяте фона на стената си!</b>
        </p>
        <br>
    {% endif %}
    {{ form.image.label }}
    {{ form.image }}


    {% buttons %}
        <button type="submit" class="btn btn-primary"> Редактирай </button>

    {% endbuttons %}

</form>
{% endblock %}