{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
<form class="form"
      action="{% url 'login_user' %}"
      method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="return_url" value="{{ request.GET.next }}">
    {% csrf_token %}
{#    {% bootstrap_form login_form %}#}
    {{ login_form.non_field_errors }}
    {% for field in login_form %}
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    {% endfor %}







    <button type="submit" class="btn btn-primary"> Влез </button>
    <p>или <a href="{%  url 'register_user' %}"><span style="color: red">Регистрирай се</span></a></p>


</form>
{% endblock %}