{% extends 'common/base.html' %}
{% load my_filter %}
{% load static %}

{% block content %}

        <div class="body">
            <!--headings-->
            <h1 id="main_heading">Профилът на
                {% if not profile.is_complete %}
                    {{ request.user.email }}!
                {% else  %}
                    {{ profile.first_name }}!
                {% endif %}!
            </h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="quote-container">

            <div class="picture">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="NOT SHOWING"/>
                {% else %}
                    <img src="{% static 'img/default_pics/default_profile.jpg' %}" alt="NOT SHOWING"/>
                {% endif %}
            </div>


                <h2>Здравей,
                    {% if not profile.is_complete %}
                        {{ request.user.email }}!
                    {% else  %}
                        {{ profile.first_name }}!
                    {% endif %}!

                </h2>



{#                {% if request.user.groups.filter(name='Regular user').exists() %}#}
{#                    Ти си в групата на начинаещите потребители. <br>#}
{#                    Ако искаш да преминеш към групата на напредналите <br>#}
{#                    да получиш специални ефекти в сайта, <br>#}
{#                    трябва да добавиш 10 цитата  в базата данни <br>#}
{#                    и те  бъдат одобрени от администраторите. <br>#}
{#                {% elif request.user.groups.filter(name='Special user').exists() %}#}
{#                    Ти в групата на напредналите и имаш специални <br>#}
{#                    екстри в профила си. Избери си тема на стената.#}
{##}
{#                {% endif %}#}






{#                <p>Age: {{ profile.date_of_birth }}</p>#}
                <div>
                    <p class="simple-left"><b>Име: </b>{{ profile.first_name }} </p>
                    <p class="simple-left"><b>Фамилия: </b> {{ profile.last_name }} </p>
                    <p class="simple-left"><b>Слънчев знак(зодия): </b> {{ profile.zodiac_sign }} </p>
                    <p class="simple-left"><b>Лунен знак: </b> {{ profile.moon_sign }} </p>
                    <p class="simple-left"><b>Фон на профила: </b> {{ profile.theme_profile }} </p>
                    <p class="simple-left"><b>Брой добавени цитати: </b> {{ quotes_added_by_user|length }}</p>
                    <p class="simple-left"><b>Дата на  раждане: </b> {{ profile.date_of_birth }}</p>
                </div>
                {% if profile.is_complete %}
                    <p class="simple-left"><span style="color: darkolivegreen">Твоят профил е попълнен.</span></p>
                {% else %}
                    <p class="simple-left"> <span style="color: red">Твоят профил не е попълнен.</span>  </p>
                    <p class="simple-left"><span style="color: red">Добави име, фамилия, дата на  раждане и снимка. </span> </p>
                {% endif %}

                <div class="quote_detail_buttons">
                    <a class="button edit" href="{% url 'edit_profile' profile.pk %}">Редактирай</a>
                    <a class="button delete" href="{% url 'delete_user' profile.pk %}">Изтрий</a>
                </div>


            </div>
            <!--end profile details container-->



            {% if quotes_added_by_user %}
                <h2 id="main_heading">Добавени цитати от {{ request.user.email }}</h2>
                {% for added_quote in quotes_added_by_user %}
                    <div class="quote-container">

                        <p class="simple-left"> <b>Автор: </b> {{  added_quote.author }}</p>
                        <p class="simple-left"> <b>Стихия: </b>{{  added_quote.element }}</p>
                        <p class="simple-left"> <b>Зодиакален знак: </b> {{  added_quote.sign }}</p>
                        <p class="simple-left"> <b>Номер на цитата: </b> {{  added_quote.pk }}</p>
                        <p class="simple-left"> {{ added_quote.quote|quotation_marks|truncatechars:50 }} </p>

                    <div class="quote_detail_buttons">
                        <a class="button details" href="{% url 'quote_details' added_quote.pk %}">Детайли</a>
                        <a class="button edit" href="{% url 'edit_quote' added_quote.pk %}">Редактирай</a>
                        <a class="button delete" href="{% url 'delete_quote' added_quote.pk %}">Изтрий</a>
                    </div>

                    </div>
                {% endfor %}

            {% endif %}

        </div>

{% endblock %}


