{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
<form class="form"
      method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="return_url" value="{{ request.GET.next }}">
    {% csrf_token %}
{#    {{ user_form.non_field_errors }}#}
    {% for field in user_form %}
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    {% endfor %}






    {% buttons %}
        <button type="submit" class="btn btn-primary"> Регистрирай се</button>
        <p>или <a href="{%  url 'login_user' %}"><span style="color: red">Влез</span></a></p>
    {% endbuttons %}

</form>
{% endblock %}