{% load static %}

<!-- Side navigation -->
<div class="sidenav">
  <a href="{% url 'elements_index' %}">
{#      <img src="{% static 'img/stars/star-1.png' %}"/>#}
      Стихии
      <img class="reversed" src="{% static 'img/stars/star-1-reverse.png' %}"/>
  </a>
  <a href="/">
{#      <img src="{% static 'img/stars/star-1.png' %}"/>#}
      Знаци
      <img class="reversed" src="{% static 'img/stars/star-1-reverse.png' %}"/>
  </a>
  <a href="/">
{#      <img src="{% static 'img/stars/star-1.png' %}"/>#}
      Планети
      <img class="reversed" src="{% static 'img/stars/star-1-reverse.png' %}"/>
  </a>
  <a href="{% url 'show_all_quotes' %}">
{#      <img src="{% static 'img/stars/star-1.png' %}"/>#}
      Цитати
      <img class="reversed" src="{% static 'img/stars/star-1-reverse.png' %}"/>
  </a>
  <a href="{% url 'show_all_authors' %}">
{#      <img src="{% static 'img/stars/star-1.png' %}"/>#}
      Автори
      <img class="reversed" src="{% static 'img/stars/star-1-reverse.png' %}"/>
  </a>
</div>


