{% extends 'common/base.html' %}

{% load static %}

<!--generate button for quote-->
{% block content %}

    <h1 id="main_heading">СТИХИИ</h1>

    <div class="quote-details-container">
        <img class="image-above" src="{% static 'img/elements.jpg' %}" />
        <h2>ЧЕТИРИТЕ ЕЛЕМЕНТА</h2>
        <br>
        <p class="simple-left">Всеки човек притежава  в себе си всички  четири  елемента в различна  степен. </p>
    </div>

    <div class="quote-details-container">
        <img class="image-above" src="{% static 'img/fire-hor.jpg' %}" />
        <h2>ОГЪН</h2>
    </div>

    <div class="quote-details-container">
        <img class="image-above" src="{% static 'img/earth-hor.jpg' %}" />
        <h2>ЗЕМЯ</h2>
    </div>

    <div class="quote-details-container">
        <img class="image-above" src="{% static 'img/wind-hor.jpg' %}" />
        <h2>ВЪЗДУХ</h2>
    </div>

    <div class="quote-details-container">
        <img class="image-above" src="{% static 'img/water-hor.jpg' %}" />
        <h2>ВОДА</h2>
    </div>






{% endblock %}
<!--end generate button-->