{% extends 'common/base.html' %}

{% load static %}

<!--generate button for quote-->
{% block content %}

    <h1 id="main_heading">ИДЕЯТА</h1>

    <div class="quote-details-container">


        <img class="image-above" src="{% static 'img/elements.jpg' %}" />
        <h2>"Знание от звездите"</h2>
        <br>
        <div class="quote-details-balloon">
            <p class="simple">
                Тук се събират астрология и литература. <br>
                <b>"Знание от звездите"</b> съчетава в себе си
                мисли на известни автори свързани с асоцииращите се с тях
                архетипи от астрологията. <br>
                Какво ли би искал да чуе всеки човек, за да се
                поучи от мъдростта на поколенията и на звездите? <br>
                Всяка зодия представлява един от дванадесетте
                архетипа и една от четирите стихии. <br>
                Най-важни в астрологията са позициите на Слънцето и
                Луната в наталната карта. <br>
                Те определят основните характеристики на същността. <br>
                Всеки случайно влязал потребител може да разгледа всички налични
                цитати и автори, може да види свободно цитата на деня в основната
                страница. <br>
                Само регистрирани потребители могат да добавят цитати и
                автори и да участват в допълването на базата от данни, както и
                да си  изтеглят специален цитат  отговарящ на избран от тях
                филтър - за позиция на Слънцето, Луната или избрана  стихия.


            </p>
        </div>
    </div>

{% endblock content %}