{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div id="container">

<h3> Днешният цитат от звездите </h3>
<div class="big">
<p class="balloon"> {{ the_quote_object.quote }} </p>

{#    <div>#}
{#{% if the_quote_object.image %}#}
{#    <img class="img-balloon" src="{{ the_quote_object.image.url }}" alt="NOT SHOWING"/>#}
{#{% elif the_quote_object.element == 'огън' %}#}
{#    <img class="img-balloon" src="{% static 'img/fire-hor.jpg'  %}" alt="NOT SHOWING"/>#}
{#{% elif the_quote_object.element == 'земя' %}#}
{#    <img class="img-balloon" src="{% static 'img/earth-hor.jpg' %}" alt="NOT SHOWING"/>#}
{#{% elif the_quote_object.element == 'въздух' %}#}
{#    <img class="img-balloon" src="{% static 'img/wind-hor.jpg' %}" alt="NOT SHOWING"/>#}
{#{% elif the_quote_object.element == 'вода' %}#}
{#    <img class="img-balloon" src="{% static 'img/water-hor.jpg' %}" alt="NOT SHOWING"/>#}
{#{% endif %}#}
{#    </div>#}


    <div class="quote-details-balloon">

    <p class="simple"> <b>Стихия: </b>{{  the_quote_object.element }}</p>
    <p class="simple"> <b>Зодиакален знак: </b> {{  the_quote_object.sign }}</p>
    <p class="simple"> <b>Номер на цитата: </b> {{  the_quote_object.pk }}</p>
    <p class="simple"> <b>Автор: </b> {{  the_quote_object.author }}</p>

    </div>

{% endblock %}
