{% load static %}


        <header>
            <a href="{% url 'index' %}">
                <div class="container-top-image">
                    <img src="{% static 'img/signs/thin_double_zodiac.jpg' %}" id="front-logo-img" style="width: 100%;">
                    <div class="centered">ЗНАНИЕ ОТ ЗВЕЗДИТЕ</div>

                </div>
            </a>

            <nav>
                <ul>
                    <li class="star-link">
                        <a href="{% url 'index' %}">
                            <img id="img-logo-fixed" src="{% static 'img/stars/star-1.png' %}"/>
                            <img id="img-logo-absolute" src="{% static 'img/stars/star-1.png' %}"/>

                        </a>
                    </li>
{#                    <li><a href="/">Знание от звездите</a></li>#}
                    <li>
                        <a href="/">Идеята</a>
                        <a href="{% url 'show_all_quotes' %}">Цитати</a>
                        <a href="{% url 'show_all_authors' %}">Автори</a>
                        <a href="{% url 'change_quote' %}">Изтегли цитат</a>
                        <a href="{% url 'add_quote' %}">Добави цитат</a>
                        <a href="{% url 'add_author' %}">Добави автор</a>
                    </li>



                    <li class="right">
{#                        <a href="{% url 'base' %}">Вход</a>#}
                        <a href="{% url 'register_user' %}">Регистрация</a>
                        <a href="{% url 'index' %}">Профил</a>
                        {% if request.user.is_authenticated %}
                            <p>Здравей, {{ request.user }}</p>
                            <a href="{%  url 'logout_user' %}">Изход</a>
                        {% else %}
                            <a href="{%  url 'login_user' %}">Вход</a>
                        {% endif %}

                    </li>
                </ul>
            </nav>
        </header>









