{% extends 'common/base.html' %}
{% load my_filter %}
{% load static %}

<!--generate button for quote-->
{% block content %}


    <!--ONLY JAVASCRIPT-->
{#    <div id=container>#}
{#        <button onclick="changeBackground()">Click me!</button>#}
{#        <div id=quotetext>Press the button to generate a quote</div>#}
{#    </div>#}


{##}
{#<div id=container>#}
{#    <button onclick="changeBackground()">Click me!</button>#}
{#    <div id=quotetext>Press the button to generate a quote</div>#}
{#    <input type="hidden" id="qqq" name="variable" value="{{ quote.quote }}">#}
{#    <p>{{ quote.quote }}</p>#}
{##}
{#</div>#}

<div id="container">
{##}
{#    <button onclick="changeBackground()">Натисни тук!</button> <br>#}
{#    <a href="{% url 'change_quote' %}">A-link</a>#}


<div class="big">
<h3> Цитат от звездите специално за  теб</h3>
<p class="balloon"> {{ the_quote_object.quote|quotation_marks }} </p>
    <div>
{% if the_quote_object.image %}
    <img class="img-balloon" src="{{ the_quote_object.image.url }}" alt="NOT SHOWING"/>
{% elif the_quote_object.element == 'огън' %}
    <img class="img-balloon" src="{% static 'img/fire-hor.jpg'  %}" alt="NOT SHOWING"/>
{% elif the_quote_object.element == 'земя' %}
    <img class="img-balloon" src="{% static 'img/earth-hor.jpg' %}" alt="NOT SHOWING"/>
{% elif the_quote_object.element == 'въздух' %}
    <img class="img-balloon" src="{% static 'img/wind-hor.jpg' %}" alt="NOT SHOWING"/>
{% elif the_quote_object.element == 'вода' %}
    <img class="img-balloon" src="{% static 'img/water-hor.jpg' %}" alt="NOT SHOWING"/>
{% endif %}
    </div>


    <div class="quote-details-balloon">

    <p class="simple"> <b>Стихия: </b>{{  the_quote_object.element }}</p>
    <p class="simple"> <b>Зодиакален знак: </b> {{  the_quote_object.sign }}</p>
    <p class="simple"> <b>Номер на цитата: </b> {{  the_quote_object.pk }}</p>
    <p class="simple"> <b>Автор: </b> {{  the_quote_object.author }}</p>
    <p class="simple"> <b>Избрана стихия: </b> {{ chosen_element }}</p>
    <p class="simple"> <b>Избран зодиакален знак: </b> {{ chosen_sign }}</p>
        <p class="simple"> <b>Избран лунен знак: </b> {{ chosen_moon_sign }}</p>

    <p> </p>
    <form class="form"
      method="post"
      action="{% url 'change_quote' %}"
      enctype="multipart/form-data">
        {% csrf_token %}
        <b> {{ elementform.element.label }} </b>
        {{ elementform.element }}
        <b> {{ elementform.sign.label }} </b>
        {{ elementform.sign }}
        <b> {{ elementform.moon.label }} </b>
        {{ elementform.moon }}



    <button type="submit">Изтегли цитат</button>
    </form>

    </div>



</div>

</div>


{% endblock %}
<!--end generate button-->

